$primary-main: #D92228;
$text-main: #272424;
$text-secondary: #524F4F;
$text-grey: #7A7575;
$text-green: #179427;
$border-main: #EDEDED;
$error-main: #A81016;
$error-background: rgba(217, 34, 40, 0.10);
$success-main: #0C893E;

$white: #FFFFFF;