@import 'src/appLayer/styles/toastify';
@import 'src/appLayer/styles/gmap-autocomplete';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  max-width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

:root {
  color-scheme: light;
}