@import 'src/appLayer/styles/colors';

.menu {
  display: inline-flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 24px;
  margin-left: 40px;
}

.menuItem {
  list-style-type: none;
}

.menuItemButton {
  color: $text-secondary;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background: transparent;

  &:hover,
  &:focus-within {
    color: $primary-main;
    outline: none;
  }
}

.activeMenuItemButton {
  color: $primary-main;
  font-weight: 700;
}