@import 'src/appLayer/styles/colors';

.productButton {
  width: 100%;
  padding: 16px 24px 16px 20px;
  cursor: pointer;
  background-color: $white;
  border: 1px solid $border-main;
  border-radius: 4px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.03);
}

.selected {
  color: $primary-main;
  font-weight: 700;
  outline: 2px solid $primary-main;
  background: rgba(217, 33, 40, 0.05);
}