$primary-main: #FF7C2A;
$secondary-main: #115E67;
$text-grey: #7A7575;
$text-green: #008001;
$text-white: #FFFFFF;
$border-main: #D6D5D5;
$error-main: #FF4D4F;
$success-main: #0C893E;
$background-error: rgba(217, 34, 40, 0.10);

$white: #FFFFFF;