@import 'src/appLayer/styles/colors';
@import 'src/appLayer/styles/mixins';

.menu {
  margin-top: 25px;

  @include lg {
    margin-top: 15px;
  }
}

.menuUl {
  gap: 40px;
  display: inline-flex;
  flex-wrap: wrap;

  @include lg {
    gap: 20px;
  }
}

.menuItem {
  list-style-type: none;
}

.menuItemButton {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background: transparent;

  @include lg {
    font-size: 16px;
  }

  &:hover,
  &:focus-within {
    color: $primary-main;
    outline: none;
  }
}

.activeMenuItem {
  position: absolute;
  bottom: -13px;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
}